
@import url('https://fonts.googleapis.com/css?family=Pacifico');

body{
    font-family: 'Pacifico', cursive;
    max-width: 100%;
    overflow-x: hidden;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background: #a15229;
    height: 7vh;
    position: fixed;
    width: 100%;
    max-width: 100vw;
    top: 0;
    left: 0;
    padding: 0.2em;
}

nav > *{
    margin: auto 0.5em;
    color: #fff;
    text-decoration: none;
}

nav > a{
    font-size: 0.7em;
    width: 5em;
}

.hidden{
    display: none;
}

main {
    display: flex;
    flex-wrap: wrap;
    margin-top: 9vh;
}

#mainCatArea {
    vertical-align: top;
    min-height: 40vh;
    max-height: 70vh;
    height: auto;
    width: 50%;
    margin: 0 0.5em;
    overflow: hidden;
    flex: 2;
}

img {
    max-width: 100%;
    display: block;
}

#amdinArea{
    width: 45%;
    flex: 1;
 }

#catBar{
    list-style: none;
    line-height: 3em;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, 33%);
    list-style: none;
    grid-gap: 1%;
    margin: 0.5em 0;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 55vh;
}

#adminForm{
    margin-top: 2em;
}

.floatItem{
    position: fixed;
    bottom: 2vh;
    right: 2vw;
    background: #fff;
    font-weight: 300;
    font-size: 0.5em;
}

@media screen and (min-width: 615px) {
    #catBar {
        padding: 1em;
        flex: 1;
        order: -1;
        grid-template-columns: 33%;
        max-height: 90vh;
    }

    nav > a {
        font-size: 1.5em;
        width: initial;
    }
}